<% @players.times do | player_num |%>

  <div class="trainer" id="player_<%= player_num + 1 %>">

    <div class="name">Trainer <%= player_num + 1 %>:</div>

    <div class="pokecontainer">

      <% @pokemon.times do | poke_num | %>

        <div class="pokemon" id="pokemon_<%= poke_num + 1 %>">
          <div class="image" id="<%= player_num %><%= poke_num %>"></div>
          <div class="button">
            <button class="roll" id="<%= player_num %><%= poke_num %>">Roll</button>
          </div>
        </div>

      <% end %>

    </div>
  </div>

<% end %>